/*******************
     IMPORTS
*******************/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*******************
      COLORS
*******************/
/*******************
       FONTS
*******************/
/*********************************************************
                *****  LAYOUT  ******
*********************************************************/
body {
  font-family: Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px/1.4;
  background-color: white;
  margin: 0; }

ul,
li {
  display: inline-block;
  list-style: none; }

a {
  text-decoration: none; }

/*******************
      Header
*******************/
header {
  max-height: 49px;
  margin: 0;
  background-color: #f5f5f5;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; }

.header-container {
  margin: 0;
  position: relative;
  top: -13px;
  width: 980px; }

.navigationLeft {
  position: relative;
  right: 105px; }

.octicon-mark-github {
  height: 28px;
  width: 28px;
  font-size: 28px;
  position: relative;
  left: 60px; }
  .octicon-mark-github:hover {
    color: #4183c4; }

input {
  width: 360px;
  height: 28px;
  position: relative;
  left: 60px; }

.navigationCenter {
  position: relative;
  left: 15px;
  top: -4px; }

.navigationCenter li {
  padding: 4px 6px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  position: relative;
  right: 88px;
  top: -2px; }
  .navigationCenter li:hover {
    color: #4183c4; }

.navigationCenter ul {
  position: relative;
  right: 88px; }

.navigationRight li:hover {
  color: #4183c4; }

.navigationRight img {
  height: 20px;
  width: 20px;
  border-radius: 3px; }

.loginlink {
  display: inline-block;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333; }

/*******************
      Sidebar
*******************/
.sidebar-container {
  width: 230px;
  margin-left: 190px; }

.sidebar img {
  width: 230px;
  height: 230px;
  border-radius: 6px; }

.cardname {
  width: 230px;
  height: 54px; }

.surname {
  display: block;
  overflow: hidden;
  width: 100%;
  font-size: 26px;
  line-height: 30px;
  text-overflow: ellipsis;
  font-weight: bold; }

.login {
  display: block;
  overflow: hidden;
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  text-overflow: ellipsis; }

/*******************
    Repositories
*******************/
.repo-container {
  width: 75%;
  margin: 0 auto; }

.repo-elements {
  padding: 30px;
  width: 730px;
  height: 111px; }

.repo-elements a {
  text-decoration: none;
  line-height: 1.2;
  color: #4183c4;
  font-size: 20px;
  font-weight: bold; }
  .repo-elements a:hover {
    text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
